<h2 class="heading heading_blue">Подтверждение регистрации</h2>
<div class="section__wrapper">
	<div class="page__recommendation">Необходимо подтвердить регистрацию.</div>
    <div class="page__recommendation">После внесения регистрационных данных необходимо активировать вашу учетную запись. Перейдите по ссылке, которая указана в письме, отправленном на ваш e-mail. Эта ссылка - ключ активации. Если письмо с ключом активации долго не приходит на ваш адрес, проверьте, не попало ли оно в папку "Спам".</div>
    <div class="page__recommendation">Сcылка для завершения регистрации, доступна в течении 12 часов.</div>
    <div class="page__recommendation">Если вы не подтвердите регистрацию в течении этого времени, вам необходимо выполнить регистрацию заново.</div>
    <div class="page__recommendation">Не получили ссылку на активацию?</div>
</div>