<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/all.css">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--<script src="js/custom.js"></script>-->
</head>
<body class="page">
    <div class="page__wrapper">
        <div class="section">
            {{{ body }}}
        </div>
    </div>
    
</body>
</html>






