<h2 class="heading heading_blue">Вход</h2>



<div class="section__wrapper login-page">
	<form action="/users/login" method="post">
        <input type="text" class="input" placeholder="Введите логин" name="username">
        <input type="password" class="input input_unbordered" placeholder="Пароль" name="password">
        <input type="submit" class="input input_submit" value="Войти">
    </form>
</div>

<div class="page__recommendation">Не зарегистрированы? Тогда Вам <a href="/users/register" class="page__link">сюда</a></div>