<h2 class="heading heading_blue">Вход</h2>
<p>{{ items }}</p>

	<div class="page__flash page__flash_wrong">Текст ошибки</div>

<div class="section__wrapper login-page">
	<form action="/login" enctype="multipart/form-data" method="post">
        <input type="text" class="input" placeholder="dedpihto@mail.ru" name="username">
        <input type="password" class="input input_unbordered" placeholder="Пароль" name="password">
        <input type="submit" class="input input_submit" value="Войти">
    </form>
</div>

<!--
extends layout

block content
	h2.heading.heading_blue Вход
	if errors
		.page__flash.page__flash_wrong #{errors[0].msg}
	.section__wrapper.login-page
		!= messages()
		form(method='post', action='/users/login',enctype='multipart/form-data')          
			input.input(type='text', placeholder='dedpihto@mail.ru', name='username')
			input.input.input_unbordered(type='password', placeholder='Пароль', name='password')
			input.input.input_submit(type='submit', value='Войти')
-->