<h2 class="heading heading_blue">Регистрация</h2>
<div class="page__flash page__flash_wrong">Текст ошибки</div>

<div class="section__wrapper registration-page">
    <form action="/users/register" enctype="multipart/form-data" method="post">
        <input type="text" class="input" placeholder="dedpihto@mail.ru" name="username">
        <input type="password" class="input input_unbordered" placeholder="Пароль" name="password">
        <input type="password" class="input" placeholder="Подтверждение пароля" name="password2">
        <input type="submit" class="input input_submit" value="Зарегистрироваться">
    </form>
    <div class="page__recommendation">
        Оставьте свой почтовый электронный ящик и придумайте пароль. Пароль должен содержать не менее 8 символов.
    </div>
</div>

<!--extends layout

block content
    h2.heading.heading_blue Регистрация
    if errors
        .page__flash.page__flash_wrong #{errors[0].msg}
    .section__wrapper.registration-page
        form(method='post', action='/users/register',enctype='multipart/form-data')          
            input.input(type='text', placeholder='dedpihto@mail.ru', name='username')
            input.input.input_unbordered(type='password', placeholder='Пароль', name='password')
            input.input(type='password', placeholder='Подтверждение пароля', name='password2')
            input.input.input_submit(type='submit', value='Зарегистрироваться')
        .page__recommendation Оставьте свой почтовый электронный ящик и придумайте пароль. Пароль должен содержать не менее 8 символов.-->