<h2 class="heading heading_blue">Регистрация</h2>

{{#if errors}}
    {{#each errors}}
        <div class="page__flash page__flash_wrong">{{msg}}</div>
    {{/each}}
{{/if}}

<div class="section__wrapper registration-page">
    <form method="post" action="/users/register">
        <input type="text" class="input" placeholder="Как Вас зовут?" name="name">
        <input type="text" class="input input_unbordered" placeholder="Придумайте себе логин" name="username">
        <input type="text" class="input" placeholder="Введите свой email" name="email">
        <input type="password" class="input input_unbordered" placeholder="Пароль" name="password">
        <input type="password" class="input" placeholder="Подтверждение пароля" name="password2">
        <input type="submit" class="input input_submit" value="Зарегистрироваться">
    </form>
    <div class="page__recommendation">
        Оставьте свой почтовый электронный ящик и придумайте пароль. Пароль должен содержать не менее 8 символов.
    </div>
</div>
