<h2 class="heading heading_blue">Welcome!</h2>
<div class="page__recommendation">
    Вы вошли как {{username}}
</div>
<div class="page__recommendation">
    <a href="/users/logout" class="page__link">Выйти</a>
</div>