<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="all">

	<link rel="stylesheet" href="/css/style061.css" type="text/css" media="all">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="/css/media-queries06.css" type="text/css">
	<link rel="stylesheet" href="/css/newstyles.css" type="text/css">
	<script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
	<script type="text/javascript" src="https://hammerjs.github.io/dist/hammer.min.js"></script>
	<script src="https://d3js.org/d3.v3.min.js"></script>
	<script type="text/javascript" src="js/script061.js"></script>
	<script type="text/javascript" src="js/changeinfo.js"></script>
	<!-- html5.js for IE less than 9 -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- css3-mediaqueries.js for IE less than 9 -->
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<!--[if IE]><script type="text/javascript" src="js/classList.min.js"></script>![endif]-->
	<title>Testing page</title>


	<script type="text/javascript" src="/js/new.js"></script>
	<style>

		g[name=sys] {
			z-index:100;
			display: block;
		}
		
		.dot circle {
		  fill: lightsteelblue;
		  stroke: steelblue;
		  stroke-width: 1.5px;
		}

		.dot circle.dragging {
		  fill: red;
		  stroke: brown;
		}

		.axis line {
		  fill: none;
		  stroke: #ddd;
		  shape-rendering: crispEdges;
		  vector-effect: non-scaling-stroke;
		}

		.dotContainer {
		  display: block;
		  z-index: 100;
		}

		svg {
			position: absolute;
			z-index: 1;
		}

		#debug-info, .map-object {
			display: none;
		}

	</style>
</head>

<body class="page">
	<div class="central-button-wrapper" onclick="hide_right_panel()">
		<div id="map-test"></div>
		<!--<div class="map-object-wrapper" data-object-id="456">
			<div class="central-button" onclick="show_popup(event)"></div>
			<h2 class="user-name">БРУНГИЛЬДА</h2>
			<center><span class="user-info">Трогательная женщина</span></center>
		</div>-->
		<div id="debug-info"></div>
		<div class="map-object"></div>
	</div>
	<div class="page__popup popup" data-popup-id="456">
		<div class="popup__header">
			<div class="rating-counter">
				<div class="rating-counter__icon"></div>
				<span class="rating-counter__value">2 360</span>
			</div>
			<script>
				$(function() {
					var usernamer = $('.popup-content').text();
				});
			</script>
			<a href="#" class="button button_open-panel popup__button" onclick="show_right_panel(event)"></a>
		</div>
		<div class="popup-content">
			
		</div>
		<div class="popup-buttons-block">

		</div>
	</div>

	<div class="page__side-bar side-bar">
		<ul class="side-bar__items">
			<li class="side-bar__item"><a class="side-bar__button side-bar__button_search" href="#" onclick="show_left_panel_new(1)"></a></li>
			<li class="side-bar__item"><a class="side-bar__button side-bar__button_profile" href="#" onclick="show_left_panel_new(2)"></a></li>
			<li class="side-bar__item"><a class="side-bar__button side-bar__button_comments" href="#" onclick="show_left_panel_new(3)"></a></li>
			<li class="side-bar__item"><a class="side-bar__button side-bar__button_events" href="#" onclick="show_left_panel_new(4)"></a></li>
		</ul>
	</div>

	<div class="page__panel page__panel_left">
		<div class="panel panel_search">
			<div class="header panel__padding">
				<h2 class="header__name">Панель поиска</h2>
				<div class="header__info">Данная панель временно не доступна</div>
			</div>
			<div class="content panel__padding"></div>
		</div>
		<div class="panel panel_profile">
			<div class="controls profile__controls panel__padding">
				<div class="controls__block">
					<a href="#" class="button button_features"></a>
				</div>
				<div class="controls__block">
					<a href="#" class="button controls__button button_change-width_min" onclick="left_panel_expand_new()"></a>
					<a href="#" class="button button_close controls__button" onclick="close_panel(event)"></a>
				</div>
			</div>
			<div class="header profile__header panel__padding">
				<div class="header__controls">
					<a href="#" class="button button_messages header__button"></a>
					<a href="#" class="button button_map-point header__button"></a>
				</div>
				<div class="header__userpic"></div>
				<div class="header__controls">
					<a href="#" class="button button_gallary header__button"></a>
					<a href="#" class="button button_features header__button"></a>
				</div>
				<h2 class="header__user-name realname">{{username}}</h2>
				<h3 style="display:none;">{{email}}</h3>
				<div class="header__iser-info">
					<form action="#" class="header__user-info-form">
						<input type="text" value="{{userinfo}}">
					</form>
				</div>
			</div>

			<ul class="tabs-control panel__padding">
				<li class="tabs-control__item tabs-control__item_active"><a class="tabs-control__link tabs-control__link_personal-info" href="javascript:void(0)" onclick="show_tab(1,'left-panel')"></a></li>
				<li class="tabs-control__item"><a class="tabs-control__link tabs-control__link_public" href="javascript:void(0)" onclick="show_tab(2,'left-panel')"></a></li>
				<li class="tabs-control__item"><a class="tabs-control__link tabs-control__link_news-feed" href="javascript:void(0)" onclick="show_tab(3,'left-panel')"></a></li>
				<li class="tabs-control__item"><a class="tabs-control__link tabs-control__link_shop" href="javascript:void(0)" onclick="show_tab(5,'left-panel')"></a></li>
			</ul>
			<div class="profile__content content panel__padding">
				<ul class="profileblock">
					<li class="profileblock__title">
						<div class="profileblock__maintitle">
							<span>О себе</span>
							<a href="#" class="button button_features header__button"></a>
						</div>
						<ul class="profileblock__info">
							<li>
								<form action="#" class="header__user-about-form">
									<input type="text" value="{{userabout}}">
								</form>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="panel panel_chat">
			<div class="header panel__padding">
				<h2 class="header__name">Панель сообщений</h2>
				<div class="header__info">Данная панель временно не доступна</div>
			</div>
			<div class="content panel__padding"></div>
		</div>
		<div class="panel panel_projects">
			<div class="header panel__padding">
				<h2 class="header__name">Проект</h2>
				<div class="header__info">Данная панель временно не доступна</div>
			</div>
			<div class="content panel__padding"></div>
		</div>
	</div>
	<div class="page__panel page__panel_right">
		<div class="panel panel_event" data-panel-id="456">
			<div class="controls profile__controls panel__padding">
				<div class="controls__block">
					<a href="#" class="button controls__button button_change-width_min" onclick="right_panel_expand_new()"></a>
					<a href="#" class="button controls__button button_fix-panel "></a>
				</div>
				<div class="controls__block">
					<a href="#" class="button controls__button button_close" onclick="close_panel(event)"></a>
				</div>
			</div>
			<div class="header profile__header panel__padding">
				<div class="header__controls">
					<a href="#" class="button button_send-msg header__button"></a>
					<a href="#" class="button button_add-friend header__button"></a>
				</div>
				<div class="header__objectpic"></div>
				<div class="header__controls">
					<a href="#" class="button button_map-point header__button"></a>
					<a href="#" class="button button_features header__button"></a>
				</div>
				<h2 class="header__user-name">Длинный никнейм...</h2>
				<div class="header__iser-info">Длинный дескриптор максимум на две строчки</div>
			</div>
			<ul class="tabs-control panel__padding">
				<li class="tabs-control__item tabs-control__item_active"><a class="tabs-control__link tabs-control__link_personal-info" href="javascript:void(0)" onclick="show_tab(1,'left-panel')"></a></li>
				<li class="tabs-control__item"><a class="tabs-control__link tabs-control__link_public" href="javascript:void(0)" onclick="show_tab(2,'left-panel')"></a></li>
				<li class="tabs-control__item"><a class="tabs-control__link tabs-control__link_news-feed" href="javascript:void(0)" onclick="show_tab(3,'left-panel')"></a></li>
				<li class="tabs-control__item"><a class="tabs-control__link tabs-control__link_shop" href="javascript:void(0)" onclick="show_tab(5,'left-panel')"></a></li>
			</ul>
			<div class="profile__content content panel__padding"></div>
		</div>
	</div>
</body>
